body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.c-w-50 {
  width: 50px;
}

.c-p-l-20 {
  padding-left: 20px;
}

.c-mg-r-5 {
  margin-right: 5px;
}

.c-mg-t-10 {
  margin-top: 10px;
}

.c-mg-b-10 {
  margin-bottom: 10px;
}
